/***************************************
* file-name: find.css
* page-file-location: /find-id,find-pw.html
* using: 아이디,비밀번호 찾기 페이지 사용
* date: 2021-07-13
****************************************/
.top-title { letter-spacing: 0; margin-bottom: 8px; } 

.section-find { margin-bottom: 90px; } 

.find-inner { width: 820px; margin: 0 auto; } 

.find-tab { display:flex; justify-content: center; margin-bottom: 40px; } 

.find-tab li { margin-right: 86px; } 

.find-tab li:last-child { margin-right: 0; } 

.find-tab li .tab { font-size: 20px; color: #959595; } 

.find-tab li .tab.choice { color: #3e215d; font-weight: 600; } 

.find-member-wrap { margin-bottom: 40px; } 

.find-pw-box { display: none; } 

.find-cont { margin-bottom: 40px; font-size: 0; } 

#findPhone { max-width: 620px; margin-right: 15px; } 

.certBtn { background: #565656; color: #fff; font-size: 18px; font-weight: 300; text-align: center; width: 185px; } 


.btn-wrap { text-align: center; } 

.member-check-btn { background: #000; color: #fff; font-size: 18px; font-weight: 300; width: 180px; height: 60px; text-align: center; line-height: 60px; margin: 0 auto; } 

.find-guide { width: 650px; margin: 0 auto; } 

.find-guide li { font-size: 14px; font-weight: 300; margin-bottom: 10px; } 

.find-guide li:before { content: "·"; margin-right: 9px; } 

.find-guide li:last-child { margin-bottom: 0; } 


.member-check-btn img { margin-left: 15px; } 