body {
    background: #000;
}

section {
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;
}

.intro-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
}

.product-sec {
    background-image: url('/img_/landing/sec1-bg.jpg?ver=220829');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 129px;
    min-width: 1200px;
}

.product-sec .sec1-video-wrap {
    min-width: 1200px;
    height: 689px;
    position: relative;
}

.product-sec .sec1-video-wrap video {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pdt-info-box {
    box-sizing: border-box;
    background-image: url('/img_/landing/sec1-box-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 1200px;
    margin: 0 auto;
    padding: 100px 75px 115px;
}

.pdt-info-box .pdt-info-txt-wrap {
    text-align: center;
}

.pdt-info-box h2,
.pdt-info-box p {
    opacity: 0;
    transition: 0.6s;
    transform: translateY(-50px);
}

.pdt-info-box h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.pdt-info-box h2 span {
    font-weight: 300;
}

.pdt-info-box p {
    color: #fff;
    font-size: 34px;
    font-weight: 300;
    transition-delay: 0.5s;
}

.pdt-info-box .pdt-video-wrap {
    max-width: 600px;
    height: 342px;
    margin-top: 70px;
    position: relative;
}

.video-thumb {
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 15px #c680c1;
    border: 1px solid #c680c1;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.video-thumb.pdt-video-thumb {
    background-image: url('/img_/landing/sec1-box-vi-thumb.jpg');
}

.video-thumb.use-video-thumb {
    background-image: url('/img_/landing/sec3-vi-thumb.jpg');
}

.video-thumb::after {
    content: " ";
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 9px 15px rgb(0,0,0,0.5);
    background-image: url('/img_/icon/playbtn.png');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-thumb ~ video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scr-txt {
    white-space: nowrap;
    padding: 80px 0 100px 50vw;
    transition: transform 1s;
}

.scr-txt span {
    font-size: 80px;
    font-weight: 200;
    margin-right: 30px;
    color: #b985ff;
    letter-spacing: 0;
}

.point-wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.point-wrap .point {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #322137;
    padding: 60px;
    box-sizing: border-box;
}

.point-wrap .point.left {
    background-image: url('/img_/landing/sec1-box2-bg-left.png');
}

.point-wrap .point.right {
    background-image: url('/img_/landing/sec1-box2-bg-right.png');
}

.point-wrap .point .point-cont {
    display: flex;
    align-items: center;
    gap: 50px;
}

.point-wrap .point .point-cont h3 {
    color: #eeca89;
    font-size: 30px;
}

.point-wrap .point .point-cont h3 span {
    font-weight: 300;
}

.point-wrap .point .point-cont h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: #eeca89;
    margin: 30px 0;
}

.point-wrap .point .point-cont p {
    color: #fff;
    font-size: 24px;
    line-height: 1.4;
}

.point-wrap .point .point-cont p span {
    font-size: 18px;
    color: #dc81c5;
}

.point-wrap .point.right .img-wrap {
    order: 2;
}

.point-wrap .point.right .point-cont {
    justify-content: flex-end;
    text-align: right;
}

.point-wrap .point.right .point-cont h3::after {
    margin-left: auto;
}

.point-wrap .point .point-cont .img-wrap {
    transform: scale(0.5);
    opacity: 0;
    transition: 0.7s;
}

.point-wrap .point .point-cont .txt-wrap {
    opacity: 0;
    transition: 0.7s;
    transition-delay: 0.6s;
}

.point-wrap .point.left .point-cont .txt-wrap {
    transform: translateX(-50px);
}

.point-wrap .point.right .point-cont .txt-wrap {
    transform: translateX(50px);
}

.buy-sec {
    margin: 0 auto;
    padding: 120px 0;
    background: #fff;
}

.buy-sec .buy-cont {
    position: relative;
}

.buy-sec .buy-cont-wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 110px;
}

.buy-sec .buy-img-wrap {
    transform: scale(0.8) translateY(50px);
    opacity: 0;
    transition: 0.4s;
}

.buy-sec .buy-cont > div {
    transform: translateY(50px);
    opacity: 0;
    transition: 0.4s;
}

.buy-sec .buy-name-wrap {
    margin-bottom: 60px;
}

.buy-sec .buy-name-wrap .pdt-name {
    font-size: 50px;
    margin-bottom: 25px;
}

.buy-sec .buy-name-wrap .pdt-sub-name {
    font-size: 22px;
}

.buy-sec .buy-desc-wrap p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}

.buy-sec .buy-pdt-ingr {
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    padding: 15px 0;
    margin: 35px 0;
}

.buy-sec .buy-pdt-ingr span {
    color: #d134a9;
    font-size: 20px;
    font-weight: 300;
}

.buy-sec .buy-pdt-ingr span:nth-child(2) {
    margin: 0 15px;
}

.buy-sec .buy-price-wrap {
    margin-bottom: 65px;
}

.buy-sec .buy-price-wrap .buy-price {
    color: #232323;
    font-size: 30px;
    letter-spacing: 0;
}


.buy-sec .buy-btn-wrap {
    display: flex;
    gap: 10px;
}

.buy-sec .buy-btn-wrap a {
    font-size: 24px;
    font-weight: 600;
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.buy-sec .buy-btn-wrap a.detail-btn {
    border: 2px solid #541b3f;
    color: #541b3f;
}

.buy-sec .buy-btn-wrap a.buy-btn {
    color: #fff;
    background: #541b3f;
}

.use-sec {
    background-image: url('/img_/landing/sec3-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 100px;
}

.use-sec .use-txt-wrap {
    text-align: center;
    margin-bottom: 70px;
}

.use-sec .tit-wrap,
.use-sec .use-desc-wrap {
    transform: translateY(70px);
    opacity: 0;
    transition: 0.7s;
}

.use-sec .tit-wrap {
    margin-bottom: 25px;
}

.use-sec .tit-wrap::after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: #dc81c5;
    margin: 30px auto 0;
}

.use-sec .tit-wrap .use-tit {
    font-size: 46px;
    color: #fff;
    margin-bottom: 20px;
}

.use-sec .tit-wrap .use-sub {
    color: #dc81c5;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.use-sec .use-desc-wrap {
    transition-delay: 0.7s
}

.use-sec .use-desc-wrap p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}

.use-sec .use-cont-wrap {
    display: flex;
    justify-content: center;
    gap: 65px;
}

.use-sec .use-cont-wrap .use-video-wrap {
    width: 595px;
    height: 342px;
    position: relative;
}

.use-sec .use-cont-wrap .num-list {
    display: flex;
    gap: 35px;
    margin-bottom: 7px;
}

.use-sec .use-cont-wrap .num-list li {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 26px;
    color: #fff;
    transform: translateX(-50px);
    opacity: 0;
    transition: 0.8s;
}

.use-sec .use-cont-wrap .num-list li:nth-child(2) {transition-delay: 0.3s}

.use-sec .use-cont-wrap .num-list li:nth-child(3) {transition-delay: 0.6s}

.use-sec .use-cont-wrap .num-list li span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    color: #572244;
    font-weight: 600;
    font-size: 20px;
}

.percent-sec {
    background-image: url('/img_/landing/sec4-bg.jpg?ver=220830');
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: top;
    font-size: 0;
    padding: 115px 0;
    min-width: 1200px;
}

.percent-sec .tit-wrap {
    text-align: center;
    margin-bottom: 90px;
}

.percent-sec .tit-wrap .pdt-sub {
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.2em;
    margin-bottom: 25px;
    opacity: 0.2;
}

.percent-sec .tit-wrap .percent-tit {
    color: #fff;
    font-size: 38px;
}

.percent-sec .percent-cont-wrap {
    display: flex;
    justify-content: center;
    max-width: 940px;
    margin: 0 auto;
}

.percent-sec .percent-cont-wrap .img-wrap {
    margin-top: -21px;
    opacity: 0;
    width: 50%;
}

.percent-sec .percent-cont-wrap .img-wrap img {
    width: 100%;
}
.percent-sec .percent-cont-wrap .percent-cont {
    width: 50%;
    max-width: 405px;
}

.percent-sec .percent-cont-wrap .per-list li {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 40px;
    background-image: url('/img_/landing/sec4-cont-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 50px;
}

.percent-sec .percent-cont-wrap .per-list .per-desc {
    text-align: center;
}

.percent-sec .percent-cont-wrap .per-list .percentage-tit {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}

.percent-sec .percent-cont-wrap .per-list span {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    color: #fbcb86;
    vertical-align: top;
}

.percent-sec .lab-cont {
    max-width: 940px;
    margin: 100px auto 0;
    text-align: center;
}

.percent-sec .lab-cont .lab-logo-wrap {
    border-bottom: 1px solid #999;
    padding-bottom: 6px;
    margin-bottom: 30px;
}

.percent-sec .lab-cont .lab-info-wrap p,
.percent-sec .lab-cont .lab-info-wrap span {
    color: #999;
    font-size: 16px;
}

.percent-sec .lab-cont .lab-info-wrap p {
    margin-bottom: 7px;
}

.percent-sec .lab-cont .lab-info-wrap span {
    margin-right: 10px;
}

.tech-sec {
    background-color: #ece4ed;
    padding: 120px 0 115px;
}

.tech-sec .tit-wrap {
    text-align: center;
    margin-bottom: 35px;
}

.tech-sec .tit-wrap .pdt-sub {
    font-size: 16px;
    color: #1e1e1e;
    letter-spacing: 0.2em;
    margin-bottom: 25px;
    opacity: 0.2;
}

.tech-sec .tit-wrap .tech-tit {
    font-size: 38px;
    color: #1e1e1e;
}

.tech-sec .tech-cont {
    width: 940px;
    margin: 0 auto;
}

.tech-sec .tech-cont > p {
    font-size: 18px;
    color: #999;
    text-align: right;
    margin-bottom: 20px;
}

.tech-sec .tech-cont .tech {
    display: grid;
    grid-template-areas: ". .";
    grid-auto-columns: 200px auto;
    align-items: center;
    background: #fff;
    -webkit-box-shadow: 0 0 16px #999;
    box-shadow: 0 0 16px #999;
    padding: 10px;
    gap: 30px;
    padding: 20px;
    transform: scale(0.8);
    opacity: 0;
    transition: 1s;
}

.tech-sec .tech-cont .tech#tech1 {
    margin-bottom: 30px;
}

.tech-sec .tech-cont .tech img {
    width: 100%;
}

.tech-sec .tech-cont .tech h3 {
    background: #570045;
    color: #fff;
    font-size: 20px;
    width: 130px;
    padding: 6px 0;
    margin-bottom: 15px;
    text-align: center;
}

.tech-sec .tech-cont .tech .info {
    margin-bottom: 30px;
}
 
.tech-sec .tech-cont .tech .info h4 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 35px;
}

.tech-sec .tech-cont .tech .info b {
    font-size: 20px;
    color: #be0085;
    letter-spacing: 0;
}

.tech-sec .tech-cont .tech .info p {
    font-size: 20px;
    margin-top: 15px; 
    line-height: 1.3;
}

.tech-sec .tech-cont a {
    color: #650045;
    font-size: 20px;
    font-weight: 600;
}

.review-sec {
    background-image: url('/img_/landing/sec6-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0;
}

.review-sec .tit-wrap {
    margin-bottom: 70px;
    text-align: center;
}

.review-sec .tit-wrap .pdt-sub {
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.2em;
    margin-bottom: 25px;
    opacity: 0.2;
}

.review-sec .tit-wrap .pdt-tit {
    color: #fff;
    font-size: 38px;
    letter-spacing: -0.03em;
}

.review-sec #reviewSwiper .swiper-btn-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    width: 930px;
    height: 100%;
    transform: translateX(-50%);
    z-index: 100;
}

.review-sec #reviewSwiper .swiper-slide {
    font-size: 0;
    max-width: 300px;
    opacity: 0.2;
    transition: opacity 0.4s;
}

.review-sec #reviewSwiper .swiper-slide-active,
.review-sec #reviewSwiper .swiper-slide-prev,
.review-sec #reviewSwiper .swiper-slide-next {
    opacity: 1;
}

#reviewSwiper .swiper-button-prev,
#reviewSwiper .swiper-button-next {
    width: 45px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    transition: opacity 0.3s;
}

#reviewSwiper .swiper-button-prev {
    background-image: url('/img_/landing/review-prev.jpg');
    left: -32px;
}

#reviewSwiper .swiper-button-next {
    background-image: url('/img_/landing/review-next.jpg');
    right: -48px;
}

#reviewSwiper .swiper-button-prev:hover,
#reviewSwiper .swiper-button-next:hover {
    opacity: 1;
}

#reviewSwiper .review-txt {
    box-sizing: border-box;
    background: #fff;
    height: 225px;
    padding: 25px;
    overflow: hidden;
}

#reviewSwiper .review-txt p {
    font-size: 15px;
    line-height: 1.6;
}

.wtc-sec {
    background: #fff;
    padding: 115px 0 120px;
    position: relative;
}

.wtc-sec .sec-tit {
    color: #1e1e1e;
    font-size: 38px;
    text-align: center;
    letter-spacing: -0.03em;
    width: 1200px;
    margin: 0 auto 70px;
}

.wtc-sec #loungeList li {
    margin-right: 60px;
}

.wtc-sec #loungeList img {
    width: 100%;
}

.wtc-sec .lounge-desc-wrap {
    margin-top: 30px;
    width: 1200px;
    margin: 0 auto;
}

.wtc-sec .lounge-desc-wrap .desc {
    font-size: 20px;
    white-space: nowrap;
    width: 50%;
    margin: 0 auto;
}

.wtc-sec .lounge-desc-wrap .desc:first-child {
    margin-bottom: 10px;
}

.wtc-sec .tel-wrap {
    max-width: 1200px;
    margin: 75px auto 0;
}

.wtc-sec .tel-wrap a {
    display: block;
    color: #4c2060;
    width: 55.8%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #eaeaea;
    padding: 25px 0;
}

.wtc-sec .tel-wrap a span {
    font-size: 24px;
    margin-right: 6px;
}

.wtc-sec .tel-wrap a strong {
    font-size: 26px;
}

.fix-buy-btn-wrap {
    box-shadow: 0 0 15px #ccc;
    position: fixed;
    width: 100%;
    bottom: -100%;
    left: 0;
    background: #fff;
    z-index: 10000;
    transition: bottom 1s;
}

.fix-buy-btn-wrap.fix-btn-on {
    bottom: 0 !important;
}

.fix-buy-btn-wrap .fix-btn-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
    width: 1200px;
    margin: 0 auto;
}

.fix-buy-btn-wrap .fix-btn-inner > div {
    width: 50%;
}

.fix-buy-btn-wrap .pdt-name-wrap {
    border-right: 1px solid #ccc;
}

.fix-buy-btn-wrap .pdt-name-wrap .pdt-main-name {
    font-size: 36px;
    font-weight: 600;
    color: #771857;
    margin-bottom: 15px;
}

.fix-buy-btn-wrap .pdt-name-wrap .pdt-sub-name {
    color: #1e1e1e;
    font-size: 20px;
    letter-spacing: 0;
}

.fix-buy-btn-wrap .btn-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.fix-buy-btn-wrap .btn-wrap a {
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    max-width: 240px;
    padding: 20px 0;
    text-align: center;
}

.fix-buy-btn-wrap .btn-wrap a.detail-btn {
    color: #541b3f;
    border: 2px solid #541b3f;
}

.fix-buy-btn-wrap .btn-wrap a.buy-btn {
    color: #fff;
    background: #541b3f;
}

.ani-class {
    transform: none !important;
    opacity: 1 !important;
}