/***************************************
* file-name: supporters.css
* page-file-location: /supporters01~04.html
* using: 서포터즈 관련(kobeas 등) 페이지 css
* date: 2021-07-20
****************************************/
/* 최상단 배경 관련 css*/
.supporters-bg { background-image: url(/img_/bg/support_page_bg.jpg); height: 540px; } 
.top-bg-cont-wrap { top: 60%; } 
.top-bg-tit { margin-bottom: 15px; } 
.top-bg-txt { line-height: 1; } 
/* ...최상단 배경 관련 css*/

/* 공용 링크 탭 */
.tab-wrap { border-bottom: 1px solid #000; margin-bottom: 40px; } 
.tab-list { display: flex; justify-content: center; padding-bottom: 20px; } 
.tab-list li { margin-right: 90px; } 
.tab-list li:last-child { margin-right: 0; } 
.tab { font-size: 18px; position: relative; color: #959595; } 
.tab:hover { color: #3e215d; } 
.tab.choice { opacity: 1; color: #3e215d; font-weight: 600; } 
.tab:after { content: " "; display: block; width: 8px; height: 8px; background: #3e215d; position: absolute; bottom: -20px; left: 50%; border-radius: 50%; transform: translateX(-50%); } 
/* ...공용 링크 탭 */

/* supporters01 페이지 */
.kobeas-main { margin-bottom: 33px; background: url(/img_/spt/spt-main.jpg) no-repeat; height: 525px; box-sizing: border-box; } 
.influ-main .influ-subject , .kobeas-main .kobeas-subject { display: flex; flex-direction: column; justify-content: center; height: 100%; padding-left: 90px; } 
.influ-main .influ-subject p , .kobeas-main .kobeas-subject p { color: #fff; font-size: 20px; font-weight: 300; line-height: 1.6; } 
.influ-main .influ-subject p:first-child, .kobeas-main .kobeas-subject p:first-child { margin-bottom: 10px; } 
.influ-main .influ-subject p span.big , .kobeas-main .kobeas-subject p span.big { font-size: 46px; font-weight: 600; } 
.influ-main .influ-subject p span.midium , .kobeas-main .kobeas-subject p span.midium { font-size: 30px; font-weight: 400; } 
.kobeas-img-box img { width: 100%; } 
.kobeas-txt-box { font-size: 20px; font-weight: 300; line-height: 1.6; margin-bottom: 52px; } 
.kobeas-txt-box p { font-size: 20px; font-weight: 300; line-height: 1.7; margin-bottom: 25px; } 
.kobeas-txt-box p:last-child { margin-bottom: 0; } 
.section-list { margin-bottom: 50px; } 
.kobeas-list { display: flex; flex-wrap: wrap; justify-content: space-between; } 
.kobeas-list .kobeas-member { margin-bottom: 40px; } 
.kobeas-member .kobeas-thumb { width: 208px; height: 242px; background-repeat: no-repeat; background-size: cover; background-position: top center; margin-bottom: 20px; } 
.kobeas-info { max-width: 208px; overflow: hidden; text-align: center; } 
.kobeas-info .kobeas-name { font-size: 20px; font-weight: 300; margin-bottom: 20px; } 
.kobeas-info p.kobeas-position { font-size: 14px; font-weight: 300; color: #959595; letter-spacing: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 10px; } 
.kobeas-info p.kobeas-position:last-child { margin-bottom: 0; } 
/* ...supporters01 페이지 */

/* supporters02 페이지 */
.section-influ {margin-bottom: 75px;}
.influ-main {margin-bottom: 65px; background: url(/img_/spt/spt02/spt2-main.jpg) no-repeat; height: 525px; box-sizing: border-box;}
.influ-youtube-wrap .influ-youtube-thumb { cursor: pointer; background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%; height: 0; padding-bottom: calc(400 / 1200 * 100%); position: relative;}
.influ-youtube-wrap .influ-youtube-thumb:before {content: ""; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background:rgba(0, 0, 0, 0.6);}
.influ-youtube-wrap .influ-youtube-thumb:after {content: ""; display: block; width: 100px; height: 100px; background-image: url(/img_/icon/video_btn_off.png); background-repeat: no-repeat; background-size: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 50%; overflow:hidden; transition: 0.3s;}
.influ-youtube-wrap .influ-youtube-thumb:hover:after {background-image: url(/img_/icon/video_btn_on.png);}
.influ-youtube-wrap .influ-youtube-description {background: #eaeaea; font-size: 20px; text-align: center; padding: 20px 0;}
.influ-list { display: flex; flex-wrap: wrap; justify-content: space-between;}
.influ-list .influ {margin-bottom: 60px;}
.influ-list .influ-thumb {width: 208px; height: 242px; background-repeat: no-repeat; background-size:cover; background-position: top center; margin-bottom: 20px; }
.influ-list .influ-name {font-size: 20px; font-weight: 300; text-align: center;}
/* ...supporters02 페이지 */

/* supporters03 페이지 */
.celeb-main {margin: 102px 0 125px;}
.celeb-img-box {text-align: center;}
.celeb-img-box.logo-img {margin-bottom: 65px;}
.celeb-img-box img {width: 100%;}
.celeb-img-box.logo-img img {max-width: 350px;}
.celeb-txt-box {margin-top: 40px;}
.celeb-txt-box {font-size: 20px; font-weight: 300; line-height: 1.7;}
/* ...supporters03 페이지 */