.section-wtc {
    margin: 90px 0;
}

.section-wtc .cont-top {
    text-align: center;
}

.section-wtc .cont-top {
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #000;
}
.section-wtc .cont-top h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 11px;
}

.section-wtc .cont-top p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
}

.section-wtc .cont-tab-wrap {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}

.section-wtc .cont-tab-wrap .tab-list {
    display: flex;
    justify-content: center;
}

.section-wtc .cont-tab-wrap .tab-list .tab {
    margin-right: 90px;
    font-size: 20px;
    color: #959595;
    cursor: pointer;
}

.section-wtc .cont-tab-wrap .tab-list .tab.choice {
    color: #3e215d;
    font-weight: 600;
}

.section-wtc .cont-tab-wrap .tab-list .tab:last-child {
    margin-right: 0;
}

.section-wtc .headquarter-info {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.section-wtc .headquarter-info li {
    margin-right: 90px;
    font-size: 0;
}

.section-wtc .headquarter-info li:last-child {
    margin-right: 0;
}

.section-wtc .headquarter-info li span {
    font-size: 20px;
    font-weight: 300;
}

.section-wtc .headquarter-info li span:first-child {
    font-weight: 600;
    margin-right: 20px;
}

.section-wtc .headquarter-interior {
    font-size: 0;
    margin-bottom: 40px;
}

.section-wtc .headquarter-interior .interior-left {
    float: left;
    margin-right: 17px;
}

.section-wtc .headquarter-interior .interior-right img:first-child {
    margin-bottom: 20px;
}